@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #438243;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	background-color: #333;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 2em;
}

.table-container {
	width: 95%;
	margin: auto;
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	color: #000;
	font-size: 0.95rem;
}

th {
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 12px;
	border-bottom: 2px solid #222;
	position: sticky;
	top: 0;
	z-index: 1;
}

td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #cfe5cf;
	cursor: pointer;
}

table, th, td {
    border-left: none;
    border-right: none;
}

.entities {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 1.35em;
    font-weight: 600;
    text-decoration: none;

    width: 150px;
	padding: 20px;
    line-height: 80px;
    text-align: center;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

a:hover {
    transform: scale(1.1);
    background-color: #555;
}