@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #438243;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	background-color: #333;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

table {
	margin: auto;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}

th, td {
	border: 1px solid #000;
	padding: 10px;
}

th {
	background-color: #333;
	color: #fff;
}