<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Category</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<h1>Category List</h1>

	<div class="table-container">

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="category : ${categories}">
					<td th:text="${category.id}"></td>
					<td th:text="${category.name}"></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>

</html>