<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Menu</title>	
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h1>Entity menu</h1>
	
	<div class="entities">
		
		<a th:href="@{/users}" class="entity-links">Users</a>
		<a th:href="@{/products}" class="entity-links">Products</a>
		<a th:href="@{/categories}" class="entity-links">Categories</a>
		<a th:href="@{/orders}" class="entity-links">Orders</a>
		
	</div>
	
</body>
</html>