<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Products</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<header class="page-header">
		<a th:href="@{/}" class="home-link" title="Home">
		   <img th:src="@{images/home.png}" alt="Home" class="home-icon">
		</a>
		<h1>Product List</h1>
	</header>

	<div class="table-container">

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price ($)</th>
					<th>Categories</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.description}"></td>
					<td th:text="${product.price}"></td>
					
					<td>
						<span th:each="cat, stat : ${product.categories}">
							<span th:text="${cat.name}"></span>
							<span th:if="${!stat.last}">,</span>
						</span>
					</td>
					
				</tr>
			</tbody>
		</table>

	</div>

</body>

</html>