<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Users</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<h1>User List</h1>

	<div class="table-container">

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>

					<!-- NAME -->
					<td>
						<span th:if="${editId != user.id}" th:text="${user.name}"></span>
						<input th:if="${editId == user.id}" type="text" name="name" th:value="${user.name}"
							form="updateForm" />
					</td>

					<!-- EMAIL -->
					<td>
						<span th:if="${editId != user.id}" th:text="${user.email}"></span>
						<input th:if="${editId == user.id}" type="email" name="email" th:value="${user.email}"
							form="updateForm" />
					</td>

					<!-- PHONE -->
					<td>
						<span th:if="${editId != user.id}" th:text="${user.phone}"></span>
						<input th:if="${editId == user.id}" type="text" name="phone" th:value="${user.phone}"
							form="updateForm" />
					</td>

					<!-- ACTIONS -->
					<td class="actions">
						<a th:if="${editId != user.id}" th:href="@{/users/edit/{id}(id=${user.id})}"
							class="icon edit">✏️</a>

						<span th:if="${editId == user.id}">✏️</span>

						<form th:action="@{/users/delete/{id}(id=${user.id})}" 
						      method="post" class="inline-form">

							<button type="button" class="icon delete" th:attr="data-id=${user.id}">
								🗑️
							</button>

						</form>
					</td>
				</tr>

				<tr th:if="${showForm}">
					<td>—</td>

					<td>
						<input type="text" name="name" placeholder="Name" form="createForm" required />
					</td>

					<td>
						<input type="email" name="email" placeholder="Email" form="createForm" required />
					</td>

					<td>
						<input type="text" name="phone" placeholder="Phone" form="createForm" required />
					</td>

					<td></td>
				</tr>

			</tbody>
		</table>

		<div class="table-actions">
			<a th:href="@{/users/new}" class="insert-link">+ Add</a>

			<form th:if="${showForm}" id="createForm" th:action="@{/users/create}" method="post">
				<button type="submit" class="btn-save">Save</button>
			</form>

			<form th:if="${editId != null}" th:id="updateForm" th:action="@{/users/update/{id}(id=${editId})}"
				method="post">
				<button type="submit" class="btn-save">Update</button>
			</form>

		</div>

	</div>

		
	<div id="deleteModal" class="modal">
	  <div class="modal-content">
	    <h3>Confirm Deletion</h3>

	    <p id="deleteMessage"></p>

	    <div class="modal-actions">
	      <button id="confirmDelete" class="btn-danger">Delete</button>
	      <button id="cancelDelete" type="button" class="btn-secondary">Cancel</button>
	    </div>
	  </div>
	</div>



	<script th:src="@{/js/users.js}"></script>

</body>

</html>